{% extends "master.html" %}

{% block tittle %} List of Member {% endblock %}
 
{% block content %}
<h1>Members</h1>
  
 <ul>
      {% for x in mymembers %}
        <li><a href="details/{{x.id}}"> {{ x.firstname }} {{ x.lastname }} </a></li>
      {% endfor %}
 </ul>
 <p>Back to <a href="{% url 'main' %}">Home</a></p>

 <table border='1'>
 
  <tr>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
  </tr>
  
  {% for x in mymembers %}
    <tr>
      
      <td>{{ x.id }}</td> 
      <td>{{ x.firstname }}</td>
      <td>{{ x.lastname }}</td>
      <td>{{ x.email }}</td>
    </tr>
    
    
  {% endfor %}

</table>


 {% endblock %}

