
{% extends "Master.html" %}


{% block title %} IPDMs {% endblock %}

{% block content %} 

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <center>
            <div class="card" style="width: 18rem;">
                
                <div class="card-body">
                  
                    <div class="row">
                        <center>
                            <h3>Login </h3>
                        </center>
                    </div>

                    <div class="row">
                        <hr>
                    </div>

                       <div class="row">
                           <div class="col">
                                <div class="form-group">
                                 <form method="post">
                                    {% csrf_token %}
                                    <label for="username">Username</label>
                                    <input type="text" name="username" required>
                                    <label for="password">Password</label>
                                    <input type="password" name="password" required><br>
                                    
                                    <button type="submit" type="button" class="btn btn-success">Login</button>
                                    

                                    {% if error %}
                                        <p>{{ error }}</p>
                                    {% endif %}

                                   </form>
                           </div> 

                             
                        </div>
                       
                    </div>
                    
                    <div class="row">
                        <div class="col-md-3">
                              <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
                        </div>
                       

                       
                    </div>
                 
                </div>
            </div>
            </center>

        </div>
    </div>
</div>

{% endblock%}