{% extends "master.html" %}
{% block title %} MIPO: Preview{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<style>
.card-body {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #555;
}
p {
    font-size: 1.1em;
    margin: 15px 0;
    font-weight: 500;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}


.card-title {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    
  }
.card { 
        width: 90%;
        max-width: 1500px;
        background-color: #fff;
        border-radius: 8px;
        margin: 50px auto;
        padding: 10px;
        box-sizing: border-box;
        font-size: 15px;
        color: maroon;
}

  h2 {
    font-size: 3em; /* Smaller font size */
    text-align: center;
    color: maroon;
    font-family: 'Copperplate', Fantasy;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-top: 25px;
  }

  .main-agileinfo {
    width: 40%; /* Smaller width */
    margin: 1.5em auto;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .agileits-top {
    padding: 2em; /* Smaller padding */
  }

  input[type="text"], input[type="email"], input[type="password"], input[type="file"], select, textarea {
    font-size: 0.9em;
    color: #333;
    width: 94.5%;
    display: block;
    border: none;
    padding: 0.5em;
    border: solid 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    
  }

  .text:focus, .text:valid, select:focus, textarea:focus {
    box-shadow: none;
    outline: none;
    border-color: maroon;
    
  }
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: goldenrod;
}
.errorlist {
  color: red;
}
    
</style>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-5">
                <div class="card-header"> 
                    <h3 class="card-title">REVIEW YOUR SUBMISSION</h3>
                </div>
              
                <div class="card-body">
                        
                        <p><strong>Title:</strong> {{ form_data.tittle }}</p></strong>
                        
                        <p><strong>Description:</strong> {{ form_data.description }}</p>
                        
                        <p><strong>Main Author:</strong> {{ mainauthor_name }}</p>
                        
                        <p><strong>Co-authors:</strong>
                            <ul>
                                {% for coauthor in coauthors %}
                                    <li>{{ coauthor.get_full_name }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                        
                        <p><strong>College:</strong> {{ form_data.college }}</p>
                        
                        <p><strong>Department:</strong> {{ form_data.department }}</p>
                        
                        <p><strong>Year:</strong> {% if form_data.year %} {{ form_data.year }} {% else %} N/A {% endif %}</p>
                        
                        <p><strong>Type:</strong> {% if type_instance %} {{ type_instance.type }} {% else %} N/A {% endif %}</p>
                        
                        <p><strong>Subtype:</strong> {% if subtype_instance %} {{ subtype_instance.name }} {% else %} N/A {% endif %}</p>
                        
                        <p><strong>File:</strong>
                            {% if file_url %}
                                <a href="{{ file_url }}" target="_blank" rel="noopener">View File</a>
                            {% else %}
                                N/A
                            {% endif %}
                        </p>
                        
                
                        <form method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <button type="submit" class="btn btn-success">Confirm</button>
                           
                        </form>

                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                    
                    <script>
                        $(document).ready(function() {

                            const errorMessage = "{{ errormessage|escapejs }}";
                            if (errorMessage) {
                                Swal.fire({
                                    title: 'Error!',
                                    text: errorMessage,
                                    icon: 'error',
                                    confirmButtonText: 'Okay'
                                });
                            }



                           
                            document.getElementById('submitButton').addEventListener('click', function(event) {
                                event.preventDefault(); 

                              
                                if (validateForm()) {

                                    
                                    Swal.fire({
                                        title: 'Are you sure?',
                                        text: "Do you want submit?",
                                        icon: 'warning',
                                        showCancelButton: true,
                                        confirmButtonColor: '#3085d6',
                                        cancelButtonColor: '#d33',
                                        confirmButtonText: 'Yes, submit it!',
                                        cancelButtonText: 'No, cancel'
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            document.getElementById('IntellectualPropertyForm').submit(); // Submit the form
                                        }
                                    });
                                }
                            });

                            
                            function validateForm() {
                                let isValid = true;
                                const fields = document.querySelectorAll('#IntellectualPropertyForm input, #IntellectualPropertyForm select, #IntellectualPropertyForm textarea');
                                
                                fields.forEach((field) => {
                                    if (field.hasAttribute('required') && !field.value.trim()) {
                                        isValid = false;
                                        // Highlight the field with a red border to indicate the error
                                        field.style.border = '2px solid red';
                                        field.addEventListener('input', function() {
                                            // Reset border color on input
                                            if (field.value.trim()) {
                                                field.style.border = '';
                                            }
                                        });
                                    }
                                });

                                if (!isValid) {
                                    Swal.fire({
                                        title: 'Form Incomplete',
                                        text: 'Please fill out all required fields before proceeding.',
                                        icon: 'error',
                                        confirmButtonColor: '#d33',
                                        confirmButtonText: 'Okay!',
                                    });
                                }
                                
                                return isValid;
                            }
                        });
                    </script>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
<script>
var el = document.getElementById("wrapper");
var toggleButton = document.getElementById("menu-toggle");

toggleButton.onclick = function () {
el.classList.toggle("toggled");
};
</script>

{% endblock %}
