{% extends "master.html" %}

{% block title %}Room{% endblock %}

{% block content %} 

<style>
    body {
        font-family: 'Roboto', sans-serif;
        color: #333;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5; 
    }

    .room-container {
        display: grid;
        grid-template-columns: 1fr 3fr; 
        gap: 60px; 
        margin: 0 auto; /* Remove margin from top and bottom */
        max-width: 1100px; 
        padding: 0 1rem; 
        box-sizing: border-box; /* Ensure padding is included in height */
        margin-top: 80px;
    }


    .filter-section {
        position: sticky; 
        top: 50px; 
        left: 0;
        width: 400px; 
        background-color: #fff;
        border-right: 1px solid #ddd;
        padding: 20px;
        height: calc(105vh - 90px); 
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        overflow-y: auto; 
        transition: transform 0.3s ease;
    }
    .filter-section h5 {
        color: maroon;
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .filter-section a {
        text-decoration: none;
        color: #333;
        display: block;
        transition: color 0.3s;
        padding: 3px 8px; 
        border-radius: 6px; 
    }

    .filter-section a:hover {
        color: #fff; 
        background-color: maroon; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        transform: scale(1.10); 
    }

    .room-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .roomcontent {
        display: flex;
        gap: 20px;
        align-items: flex-start;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .cover-image-container {
        position: relative; 
        width: 120px;
        height: 160px;
        border-radius: 8px; 
        overflow: hidden;
        flex-shrink: 0;
    }

    .cover-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 0.3s; 
    }

    .cover-image-container:hover .cover-image {
        opacity: 0.6; 
    }

    .cover-image-container::after {
        content: '🔍︎ '; 
        font-size: 24px;
        color: white;
        background-color: rgba(0, 0, 0, 0.6); 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        padding: 10px;
        border-radius: 50%;
        display: none; 
        text-align: center;
    }

    .cover-image-container:hover::after {
        display: block; 
    }

    .text-content {
        flex: 1;
    }

    .roomcontent h1 {
        color: maroon;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 10px;
    }

    .roomcontent p {
        font-size: 16px;
        color: black;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: justify;
    }

    .roomcontent small {
        font-size: 14px;
        color: #777;
        display: block;
        margin-bottom: 5px;
        font-style: italic;
    }

    .roomcontent span {
        color: black;
        font-style: italic;
        font-size: 15px;
        display: block;
        margin-bottom: 10px;
    }

    .search-input {
        width: calc(100% - 50px);
        padding: 10px;
        border: 2px solid maroon;
        border-radius: 4px;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .search-button {
        width: 40px;
        background-color: maroon;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    .search-button:hover {
        background-color: goldenrod; 
    }
    .no-results {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;   
        text-align: center;
        font-size: 20px;
        color: #555;
        border-radius: 8px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
        color: maroon;
        font-weight: bold;
        margin-top: 5rem;
    }
    
</style>
   
{% if search_performed %}

    <div class="room-container">
        <!-- Filter Section -->
        <div class="filter-section">
            <form method="get" action="{% url 'room' %}">
                <input type="text" name="q" placeholder="Search..." value="{{ request.GET.q }}" class="search-input">
                <button type="submit" class="search-button">🔍︎</button>
            </form>
            <hr>
            <h5>BY COLLEGES</h5>
            <hr>
            {% for topic in topics %}
            <div>
                <a href="{% url 'room' %}?q={{ topic.name }}">
                    <h4>{{ topic.name }}</h4>
                </a>
            </div>
            {% endfor %}
            <hr>
            <h5>INTELLECTUAL PROPERTY</h5>
            <hr>
            {% for type in types %}
            <div>
                <a href="{% url 'room' %}?q={{ type.type }}">
                    <h4>{{ type.type }}</h4>
                </a>
            </div>
            {% endfor %}
        </div>

        <!-- Room Content Section -->
        <div class="room-content">
            {% if not IP %}
                <div class="no-results visible">
                    <p>No results found for "{{ query }}"</p>
                </div>
            {% else %}
                {% for ip in IP %}
                <div class="roomcontent">
                    <div>
                        <span>@{{ ip.host.username }}</span>
                        <a href="/IntellectualProperty/{{ ip.id }}">
                            <div class="cover-image-container">
                                {% if ip.cover %}
                                <img src="{{ ip.cover.url }}" alt="Cover Image" class="cover-image" />
                                {% else %}
                                NA
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    <div class="text-content">
                        <span>{{ ip.created|timesince }} ago</span>
                        <h1>{{ ip.tittle }}</h1>
                        <p>{{ ip.description }}</p>
                        <small>Main Author: {{ip.mainauthor.last_name }} {{ip.mainauthor.first_name }}</small>
                        <small>Co-Authors: {% for author in ip.author.all %}
                                           {{ author.last_name}} {{author.first_name}}{% if not forloop.last %}, {%endif%}
                                           {%empty%}
                                              NA
                                            {%endfor%}</small>
                        <small>Year Published: {{ ip.year }}</small>
                    </div>
                </div>
                <hr style="width: 100%; margin-bottom: 0px; margin-top: 0px;">
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% else %}
    <!-- No Results Found Message -->
    <div class="room-container">
        <div class="filter-section">
            <!-- Same filter section as before -->
            <form method="get" action="{% url 'room' %}">
                <input type="text" name="q" placeholder="Search..." value="{{ request.GET.q }}" class="search-input">
                <button type="submit" class="search-button">🔍︎</button>
            </form>
            <hr>
            <h5>BY COLLEGES</h5>
            <hr>
            {% for topic in topics %}
            <div>
                <a href="{% url 'room' %}?q={{ topic.name }}">
                    <h4>{{ topic.name }}</h4>
                </a>
            </div>
            {% endfor %}
            <hr>
            <h5>INTELLECTUAL PROPERTY</h5>
            <hr>
            {% for type in types %}
            <div>
                <a href="{% url 'room' %}?q={{ type.type }}">
                    <h4>{{ type.type }}</h4>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="no-results visible">
            <p>No results found, please enter a keyword.</p>
        </div>
    </div>
{% endif %}

{% endblock %}
