
{% extends "master.html" %}

{% block title %} IPDMs {% endblock %}

{% block content %} 

    <!DOCTYPE html>
    <html>

    <body>


    <body>



            {% if 'apple' in fruits %}
              {% for i in fruits %}
                {% if 'apple' in fruits and 'banana' in fruits %}
                    <p>apple and banana</p>
                {% elif 'cherry' in fruits and 'durian' in fruits %}
                    <p>cherry and durian</p>
                {% endif %}
              {% endfor %}
            {% endif %}




    

          {% for x in fruits %}
            <li
                {% if forloop.first %}
                  style='color:rgb(217, 205, 34);'
                
                #{% elif forloop.last %}#
                #style='color:rgba(217, 95, 34, 0.505);'#
                
                {% endif %}
            >{{ x }}</li>
          {% endfor %}


            

    </body>
    </html>


{% endblock%}